/* reset padding margin */
* {

    padding: 0px;
    margin : 0px;

    .banner {

        height    : 865px;
        background: url(banner.jpg ) center no-repeat;
        overflow  : hidden;

        .mid {
            margin-left : 150px;
            margin-right: 150px;

            .about-signin {
                height     : 79px;
                display    : flex;
                align-items: flex-end;
                flex-flow  : row-reverse;

                .about,
                .signin {
                    text-transform : uppercase;
                    text-decoration: none;

                    font-size     : 12px;
                    font-family   : 'Times New Roman', Times, serif;
                    font-weight   : 400;
                    color         : black;
                    letter-spacing: 1px;


                }

                .signin {
                    order        : 1;
                    color        : rgb(141, 223, 18);
                    border       : solid 1px rgb(141, 223, 18);
                    border-radius: 100px;
                    padding      : 9px;

                }

                .about {
                    order       : 2;
                    padding     : 10px;
                    margin-right: 5px;


                }
            }

            .logo {

                width        : fit-content;
                height       : fit-content;
                margin       : auto;
                margin-top   : 165px;
                margin-bottom: 30px;

            }

            .icon {
                display        : flex;
                justify-content: space-evenly;
                margin-bottom  : 50px;

                .child_icon {
                    display        : flex;
                    justify-content: center;
                    flex-direction : column;
                    align-items    : center;
                }

                img {
                    height       : 48px;
                    width        : 52px;
                    margin-bottom: 15px;
                }

                p {
                    text-align : center;
                    font-size  : 36px;
                    font-weight: 400;


                }
            }

            .text-btn {
                display       : flex;
                align-items   : center;
                flex-direction: column;

                p {
                    font-size    : 18px;
                    height       : 11px;
                    font-style   : italic;
                    text-align   : center !important;
                    margin-bottom: 30px;
                }

                button {
                    height        : 40px;
                    width         : 144px;
                    font-size     : large;
                    border-radius : 100px;
                    font-family   : 'Times New Roman', Times, serif;
                    background    : linear-gradient(270deg, #a4e82c 0%, #30a003 100%);
                    text-transform: uppercase;
                    color         : white;
                    cursor        : pointer;
                }

            }
        }
    }
}